.wrap{
    width: 1200px;
    margin: 0 auto;
}
h1{
    text-shadow: 2px 5px 10px lightgreen, 2px 5px 15px aqua;
}
.row{
    width: 100%;
    display: block;
}
.col{
    width: 30%;
    /*margin: 0 20px;*/
    display: block;
    float: left;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
}
.row .col:nth-child(2){
    margin: 0 20px;
}
.row .col:first-child .sana{
    background-color: indianred;
}
.sana{
    padding: 5rem 0;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: #7de29e;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.text-sana{
    padding: 2rem 0;
    text-align: center;
    color: royalblue;
}